@using PrimeBakes.Library.Accounts.Masters.Models
@using PrimeBakes.Library.Inventory.Purchase.Models

@attribute [Route(InventoryRouteNames.PurchaseReturnReport)]

<PageTitle>Purchase Return Report - Prime Bakes</PageTitle>

<MudBlazor.MudHotkey Key=JsKey.KeyN KeyModifiers=[JsKeyModifier.ControlLeft] OnHotkeyPressed="() => AuthenticationService.NavigateToRoute(InventoryRouteNames.PurchaseReturn, FormFactor, JSRuntime, NavigationManager)" Disabled="@_isProcessing" />
<MudBlazor.MudHotkey Key=JsKey.KeyF KeyModifiers=[JsKeyModifier.ControlLeft] OnHotkeyPressed="() => _firstFocus?.FocusAsync()" Disabled="@_isProcessing" />
<MudBlazor.MudHotkey Key=JsKey.F5 OnHotkeyPressed="LoadTransactionOverviews" Disabled="@_isProcessing" />
<MudBlazor.MudHotkey Key=JsKey.KeyR KeyModifiers=[JsKeyModifier.ControlLeft] OnHotkeyPressed="LoadTransactionOverviews" Disabled="@_isProcessing" />
<MudBlazor.MudHotkey Key=JsKey.KeyQ KeyModifiers=[JsKeyModifier.ControlLeft] OnHotkeyPressed="ToggleDetailsView" Disabled="@_isProcessing" />
<MudBlazor.MudHotkey Key=JsKey.KeyW KeyModifiers=[JsKeyModifier.ControlLeft] OnHotkeyPressed="ToggleSummary" Disabled="@_isProcessing" />
<MudBlazor.MudHotkey Key=JsKey.Delete KeyModifiers=[JsKeyModifier.ControlLeft] OnHotkeyPressed="ToggleDeleted" Disabled="@_isProcessing" />
<MudBlazor.MudHotkey Key=JsKey.KeyE KeyModifiers=[JsKeyModifier.ControlLeft] OnHotkeyPressed="() => ExportReport(true)" Disabled="@_isProcessing" />
<MudBlazor.MudHotkey Key=JsKey.KeyP KeyModifiers=[JsKeyModifier.ControlLeft] OnHotkeyPressed="() => ExportReport()" Disabled="@_isProcessing" />
<MudBlazor.MudHotkey Key=JsKey.KeyI KeyModifiers=[JsKeyModifier.ControlLeft] OnHotkeyPressed="() => AuthenticationService.NavigateToRoute(InventoryRouteNames.PurchaseReturnItemReport, FormFactor, JSRuntime, NavigationManager)" Disabled="@_isProcessing" />
<MudBlazor.MudHotkey Key=JsKey.KeyO KeyModifiers=[JsKeyModifier.AltLeft] OnHotkeyPressed="ViewSelectedTransaction" Disabled="@_isProcessing" />
<MudBlazor.MudHotkey Key=JsKey.KeyP KeyModifiers=[JsKeyModifier.AltLeft] OnHotkeyPressed="() => ExportSelectedTransaction()" Disabled="@_isProcessing" />
<MudBlazor.MudHotkey Key=JsKey.KeyE KeyModifiers=[JsKeyModifier.AltLeft] OnHotkeyPressed="() => ExportSelectedTransaction(true)" Disabled="@_isProcessing" />
<MudBlazor.MudHotkey Key=JsKey.KeyL KeyModifiers=[JsKeyModifier.AltLeft] OnHotkeyPressed="DownloadSelectedOriginalInvoice" Disabled="@_isProcessing" />
<MudBlazor.MudHotkey Key=JsKey.Delete OnHotkeyPressed="DeleteRecoverSelectedTransaction" Disabled="@_isProcessing" />

@if (_isLoading || _user is null)
{
	<LoadingScreen />
}
else
{
	<div class="page-shell">
		<Header Title="Purchase Report">
			<LeftContent>
				<MudBlazor.MudMenu Label="File" Dense="true" Disabled="_isProcessing">
					<MudBlazor.MudMenuItem Label="New Transaction (Ctrl + N)" OnClick="() => AuthenticationService.NavigateToRoute(InventoryRouteNames.PurchaseReturn, FormFactor, JSRuntime, NavigationManager)" />
					<MudBlazor.MudMenuItem Label="Refresh Data (Ctrl + R / F5)" OnClick="LoadTransactionOverviews" />
					<MudBlazor.MudMenuItem Label="@(_showDeleted ? "Hide Deleted (Ctrl + Delete)" : "Show Deleted (Ctrl + Delete)")" OnClick="ToggleDeleted" />
					<MudBlazor.MudMenuItem Label="@(_showSummary ? "Hide Summary (Ctrl + W)" : "Show Summary (Ctrl + W)")" OnClick="ToggleSummary" />
					<MudBlazor.MudMenuItem Label="@(_showAllColumns ? "Hide Details (Ctrl + Q)" : "Show Details (Ctrl + Q)")" OnClick="ToggleDetailsView" />
					<MudBlazor.MudDivider />
					<MudBlazor.MudMenuItem Label="Export PDF (Ctrl + P)" OnClick="() => ExportReport()" />
					<MudBlazor.MudMenuItem Label="Export Excel (Ctrl + E)" OnClick="() => ExportReport(true)" />
				</MudBlazor.MudMenu>

				<MudBlazor.MudMenu Label="Open" Dense="true" Disabled="_isProcessing">
					<MudBlazor.MudMenuItem Label="Purchase Return (Ctrl + N)" OnClick="() => AuthenticationService.NavigateToRoute(InventoryRouteNames.PurchaseReturn, FormFactor, JSRuntime, NavigationManager)" />
					<MudBlazor.MudMenuItem Label="Purchase Return Report" OnClick="() => AuthenticationService.NavigateToRoute(InventoryRouteNames.PurchaseReturnReport, FormFactor, JSRuntime, NavigationManager)" />
					<MudBlazor.MudMenuItem Label="Purchase Return Item Report (Ctrl + I)" OnClick="() => AuthenticationService.NavigateToRoute(InventoryRouteNames.PurchaseReturnItemReport, FormFactor, JSRuntime, NavigationManager)" />
					<MudBlazor.MudMenuItem Label="Purchase" OnClick="() => AuthenticationService.NavigateToRoute(InventoryRouteNames.Purchase, FormFactor, JSRuntime, NavigationManager)" />
					<MudBlazor.MudMenuItem Label="Purchase Report" OnClick="() => AuthenticationService.NavigateToRoute(InventoryRouteNames.PurchaseReport, FormFactor, JSRuntime, NavigationManager)" />
					<MudBlazor.MudMenuItem Label="Purchase Item Report" OnClick="() => AuthenticationService.NavigateToRoute(InventoryRouteNames.PurchaseItemReport, FormFactor, JSRuntime, NavigationManager)" />
				</MudBlazor.MudMenu>

				<MudBlazor.MudMenu Label="Periods" Dense="true" Disabled="_isProcessing">
					<MudBlazor.MudMenuItem Label="Today" OnClick="() => HandleDatesChanged(DateRangeType.Today)" />
					<MudBlazor.MudMenuItem Label="Previous Day" OnClick="() => HandleDatesChanged(DateRangeType.Yesterday)" />
					<MudBlazor.MudMenuItem Label="Next Day" OnClick="() => HandleDatesChanged(DateRangeType.NextDay)" />
					<MudBlazor.MudMenuItem Label="Current Month" OnClick="() => HandleDatesChanged(DateRangeType.CurrentMonth)" />
					<MudBlazor.MudMenuItem Label="Previous Month" OnClick="() => HandleDatesChanged(DateRangeType.PreviousMonth)" />
					<MudBlazor.MudMenuItem Label="Next Month" OnClick="() => HandleDatesChanged(DateRangeType.NextMonth)" />
					<MudBlazor.MudMenuItem Label="Current FY" OnClick="() => HandleDatesChanged(DateRangeType.CurrentFinancialYear)" />
					<MudBlazor.MudMenuItem Label="Previous FY" OnClick="() => HandleDatesChanged(DateRangeType.PreviousFinancialYear)" />
					<MudBlazor.MudMenuItem Label="Next FY" OnClick="() => HandleDatesChanged(DateRangeType.NextFinancialYear)" />
					<MudBlazor.MudMenuItem Label="All Time" OnClick="() => HandleDatesChanged(DateRangeType.AllTime)" />
				</MudBlazor.MudMenu>

				<MudBlazor.MudMenu Label="Transaction" Dense="true" Disabled="_isProcessing || _showSummary">
					<MudBlazor.MudMenuItem Label="View (Alt + O)" OnClick="ViewSelectedTransaction" />
					<MudBlazor.MudMenuItem Label="View Accounting Posting" OnClick="ViewFinancialAccountingPosting" />
					<MudBlazor.MudMenuItem Label="Export PDF (Alt + P)" OnClick="() => ExportSelectedTransaction()" />
					<MudBlazor.MudMenuItem Label="Export Excel (Alt + E)" OnClick="() => ExportSelectedTransaction(true)" />
					<MudBlazor.MudMenuItem Label="Export Original (Alt + L)" OnClick="DownloadSelectedOriginalInvoice" />
					<MudBlazor.MudDivider />
					<MudBlazor.MudMenuItem Label="Delete / Recover (Del)" OnClick="DeleteRecoverSelectedTransaction" />
				</MudBlazor.MudMenu>
			</LeftContent>
		</Header>

		<div class="page-container">

			<div class="section-card">
				<div class="section-header">
					<h2 class="section-title">Filters</h2>
				</div>

				<div class="section-body">
					<div class="filters-grid">
						<!-- Date Range -->
						<div class="form-field">
							<CustomDateRangePicker @ref="_firstFocus" Value="@(new MudBlazor.DateRange(_fromDate, _toDate))"
												   ValueChanged="OnDateRangeChanged"
												   Label="Date Range (Ctrl + F)"
												   Required="false" />
						</div>

						<!-- Company -->
						<div class="form-field">
							<CustomAutoComplete T="CompanyModel"
												Value="_selectedCompany"
												DataSource="@_companies"
												Placeholder="All Companies"
												Label="Company" Required="false"
												ValueChanged="OnCompanyChanged"
												FieldValue="@nameof(CompanyModel.Name)"
												AddNewRoute="@AccountsRouteNames.CompanyMaster" />
						</div>

						<!-- Party -->
						<div class="form-field">
							<CustomAutoComplete T="LedgerModel"
												Value="_selectedParty"
												DataSource="@_parties"
												Placeholder="All Parties"
												Label="Party" Required="false"
												ValueChanged="OnPartyChanged"
												FieldValue="@nameof(LedgerModel.Name)"
												AddNewRoute="@AccountsRouteNames.LedgerMaster" />
						</div>
					</div>
				</div>
			</div>

			<div class="section-card">
				<div class="section-header">
					<h2 class="section-title">Records</h2>
				</div>

				<SfGrid @ref="_sfGrid" TValue="PurchaseReturnOverviewModel" DataSource="_transactionOverviews"
						AllowTextWrap="true" AllowPaging="true" AllowSorting="true" AllowResizing="true"
						AllowFiltering="true" AllowReordering="true" AllowGrouping="true" ShowColumnChooser="true"
						GridLines="GridLine.Horizontal" ContextMenuItems="@_gridContextMenuItems"
						Toolbar="@(new List<string>() { "ColumnChooser", "Search" })">

					<GridEvents TValue="PurchaseReturnOverviewModel" ContextMenuItemClicked="OnGridContextMenuItemClicked" />
					<GridPageSettings PageSize="20" PageSizes="@(new string[] { "20", "50", "100", "200", "All" })" />
					<GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Excel" />

					<GridAggregates>
						<GridAggregate>
							<GridAggregateColumns>
								<GridColumnAggregate Field="@nameof(PurchaseReturnOverviewModel.TransactionNo)" Type="AggregateType.Count" Format="N0" />
								<GridColumnAggregate Field="@nameof(PurchaseReturnOverviewModel.TotalItems)" />
								<GridColumnAggregate Field="@nameof(PurchaseReturnOverviewModel.TotalQuantity)" />
								<GridColumnAggregate Field="@nameof(PurchaseReturnOverviewModel.BaseTotal)" />
								<GridColumnAggregate Field="@nameof(PurchaseReturnOverviewModel.ItemDiscountAmount)" CustomColor="grid-debit" />
								<GridColumnAggregate Field="@nameof(PurchaseReturnOverviewModel.TotalAfterItemDiscount)" />
								<GridColumnAggregate Field="@nameof(PurchaseReturnOverviewModel.TotalInclusiveTaxAmount)" />
								<GridColumnAggregate Field="@nameof(PurchaseReturnOverviewModel.TotalExtraTaxAmount)" />
								<GridColumnAggregate Field="@nameof(PurchaseReturnOverviewModel.TotalAfterTax)" />
								<GridColumnAggregate Field="@nameof(PurchaseReturnOverviewModel.OtherChargesAmount)" />
								<GridColumnAggregate Field="@nameof(PurchaseReturnOverviewModel.CashDiscountAmount)" CustomColor="grid-debit" />
								<GridColumnAggregate Field="@nameof(PurchaseReturnOverviewModel.RoundOffAmount)" />
								<GridColumnAggregate Field="@nameof(PurchaseReturnOverviewModel.TotalAmount)" CustomColor="grid-total" />
							</GridAggregateColumns>
						</GridAggregate>
					</GridAggregates>

					<GridColumns>
						<CustomGridColumn Field="@nameof(PurchaseReturnOverviewModel.TransactionNo)" HeaderText="Transaction No" Visible="@(!_showSummary)" />
						<CustomGridColumn Field="@nameof(PurchaseReturnOverviewModel.CompanyName)" HeaderText="Company" Visible="@(!_showSummary && (_showAllColumns || _selectedCompany is null || _selectedCompany.Id <= 0))" />
						<CustomGridColumn Field="@nameof(PurchaseReturnOverviewModel.TransactionDateTime)" HeaderText="Date" Format="dd/MM/yy hh:mm tt" Type="ColumnType.DateTime" Visible="@(!_showSummary)" />
						<CustomGridColumn Field="@nameof(PurchaseReturnOverviewModel.FinancialYear)" HeaderText="Financial Year" Visible="@(_showAllColumns && !_showSummary)" />
						<CustomGridColumn Field="@nameof(PurchaseReturnOverviewModel.ChallanNo)" HeaderText="Challan No" Visible="@(!_showSummary)" />
						<CustomGridColumn Field="@nameof(PurchaseReturnOverviewModel.PartyName)" HeaderText="Party" Visible="@(!_showSummary && (_showAllColumns || _selectedParty is null || _selectedParty.Id <= 0))" />

						<CustomGridColumn Field="@nameof(PurchaseReturnOverviewModel.TotalItems)" HeaderText="Items" Visible="_showAllColumns" NumericColumn="true" />
						<CustomGridColumn Field="@nameof(PurchaseReturnOverviewModel.TotalQuantity)" HeaderText="Quantity" NumericColumn="true" />
						<CustomGridColumn Field="@nameof(PurchaseReturnOverviewModel.BaseTotal)" HeaderText="Base Total" NumericColumn="true" />
						<CustomGridColumn Field="@nameof(PurchaseReturnOverviewModel.ItemDiscountAmount)" HeaderText="Disc" Visible="_showAllColumns" CustomColor="grid-debit" />

						<CustomGridColumn Field="@nameof(PurchaseReturnOverviewModel.TotalAfterItemDiscount)" HeaderText="After Disc" Visible="_showAllColumns" NumericColumn="true" />
						<CustomGridColumn Field="@nameof(PurchaseReturnOverviewModel.TotalInclusiveTaxAmount)" HeaderText="Incl. Tax" Visible="_showAllColumns" NumericColumn="true" />
						<CustomGridColumn Field="@nameof(PurchaseReturnOverviewModel.TotalExtraTaxAmount)" HeaderText="Extra Tax" Visible="_showAllColumns" NumericColumn="true" />
						<CustomGridColumn Field="@nameof(PurchaseReturnOverviewModel.TotalAfterTax)" HeaderText="Sub Total" NumericColumn="true" />

						<CustomGridColumn Field="@nameof(PurchaseReturnOverviewModel.OtherChargesPercent)" HeaderText="Other Charges %" Visible="@(!_showSummary)" NumericColumn="true" />
						<CustomGridColumn Field="@nameof(PurchaseReturnOverviewModel.OtherChargesAmount)" HeaderText="Other Charges" Visible="_showAllColumns" NumericColumn="true" />
						<CustomGridColumn Field="@nameof(PurchaseReturnOverviewModel.CashDiscountPercent)" HeaderText="Cash Disc %" Visible="@(!_showSummary)" CustomColor="grid-debit" />
						<CustomGridColumn Field="@nameof(PurchaseReturnOverviewModel.CashDiscountAmount)" HeaderText="Cash Disc" CustomColor="grid-debit" />

						<CustomGridColumn Field="@nameof(PurchaseReturnOverviewModel.RoundOffAmount)" HeaderText="Round Off" Visible="_showAllColumns" NumericColumn="true" />
						<CustomGridColumn Field="@nameof(PurchaseReturnOverviewModel.TotalAmount)" HeaderText="Total" TotalColumn="true" />

						<CustomGridColumn Field="@nameof(PurchaseReturnOverviewModel.Remarks)" HeaderText="Remarks" Visible="@(_showAllColumns && !_showSummary)" />
						<CustomGridColumn Field="@nameof(PurchaseReturnOverviewModel.FinancialAccountingTransactionNo)" HeaderText="Accounting Transaction No" Visible="@(_showAllColumns && !_showSummary)" />
						<CustomGridColumn Field="@nameof(PurchaseReturnOverviewModel.CreatedByName)" HeaderText="Created By" Visible="@(_showAllColumns && !_showSummary)" />
						<CustomGridColumn Field="@nameof(PurchaseReturnOverviewModel.CreatedAt)" HeaderText="Created At" Format="dd/MM/yy hh:mm tt" Type="ColumnType.DateTime" Visible="@(_showAllColumns && !_showSummary)" />
						<CustomGridColumn Field="@nameof(PurchaseReturnOverviewModel.CreatedFromPlatform)" HeaderText="Created Platform" Visible="@(_showAllColumns && !_showSummary)" />
						<CustomGridColumn Field="@nameof(PurchaseReturnOverviewModel.LastModifiedByUserName)" HeaderText="Modified By" Visible="@(_showAllColumns && !_showSummary)" />
						<CustomGridColumn Field="@nameof(PurchaseReturnOverviewModel.LastModifiedAt)" HeaderText="Modified At" Format="dd/MM/yy hh:mm tt" Type="ColumnType.DateTime" Visible="@(_showAllColumns && !_showSummary)" />
						<CustomGridColumn Field="@nameof(PurchaseReturnOverviewModel.LastModifiedFromPlatform)" HeaderText="Modified Platform" Visible="@(_showAllColumns && !_showSummary)" />
						<CustomGridColumn Field="@nameof(PurchaseReturnOverviewModel.Status)" Visible="@(_showDeleted && !_showSummary)" StatusColumn="true" />
					</GridColumns>
				</SfGrid>
			</div>
		</div>

		<Footer />
	</div>
}

<ConfirmationDialog @ref="_confirmationDialog" Title="@_confirmTitle" Message="@_confirmMessage"
					OnConfirm="OnConfirmed" OnCancel="OnCancelled" />

<ToastNotification @ref="_toastNotification" />

<CloseGuard Block="_isProcessing" />