@using PrimeBakes.Library.Accounts.Masters.Models
@using PrimeBakes.Library.Operations.Location
@using PrimeBakes.Library.Store.Order.Models
@using PrimeBakes.Library.Store.Product.Models

@attribute [Route(StoreRouteNames.OrderItemReport)]

<PageTitle>Order Item Report - Prime Bakes</PageTitle>

<MudBlazor.MudHotkey Key=JsKey.KeyN KeyModifiers=[JsKeyModifier.ControlLeft] OnHotkeyPressed="() => AuthenticationService.NavigateToRoute(StoreRouteNames.Order, FormFactor, JSRuntime, NavigationManager)" Disabled="@_isProcessing" />
<MudBlazor.MudHotkey Key=JsKey.KeyF KeyModifiers=[JsKeyModifier.ControlLeft] OnHotkeyPressed="() => _firstFocus?.FocusAsync()" Disabled="@_isProcessing" />
<MudBlazor.MudHotkey Key=JsKey.F5 OnHotkeyPressed="LoadTransactionOverviews" Disabled="@_isProcessing" />
<MudBlazor.MudHotkey Key=JsKey.KeyR KeyModifiers=[JsKeyModifier.ControlLeft] OnHotkeyPressed="LoadTransactionOverviews" Disabled="@_isProcessing" />
<MudBlazor.MudHotkey Key=JsKey.KeyQ KeyModifiers=[JsKeyModifier.ControlLeft] OnHotkeyPressed="ToggleDetailsView" Disabled="@_isProcessing" />
<MudBlazor.MudHotkey Key=JsKey.KeyW KeyModifiers=[JsKeyModifier.ControlLeft] OnHotkeyPressed="ToggleSummary" Disabled="@_isProcessing" />
<MudBlazor.MudHotkey Key=JsKey.Delete KeyModifiers=[JsKeyModifier.ControlLeft] OnHotkeyPressed="ToggleDeleted" Disabled="@_isProcessing" />
<MudBlazor.MudHotkey Key=JsKey.KeyE KeyModifiers=[JsKeyModifier.ControlLeft] OnHotkeyPressed="() => ExportReport(true)" Disabled="@_isProcessing" />
<MudBlazor.MudHotkey Key=JsKey.KeyP KeyModifiers=[JsKeyModifier.ControlLeft] OnHotkeyPressed="() => ExportReport()" Disabled="@_isProcessing" />
<MudBlazor.MudHotkey Key=JsKey.KeyI KeyModifiers=[JsKeyModifier.ControlLeft] OnHotkeyPressed="() => AuthenticationService.NavigateToRoute(StoreRouteNames.OrderReport, FormFactor, JSRuntime, NavigationManager)" Disabled="@_isProcessing" />
<MudBlazor.MudHotkey Key=JsKey.KeyO KeyModifiers=[JsKeyModifier.AltLeft] OnHotkeyPressed="ViewSelectedTransaction" Disabled="@_isProcessing" />
<MudBlazor.MudHotkey Key=JsKey.KeyS KeyModifiers=[JsKeyModifier.AltLeft] OnHotkeyPressed="ViewSelectedSaleTransaction" Disabled="@_isProcessing" />
<MudBlazor.MudHotkey Key=JsKey.KeyP KeyModifiers=[JsKeyModifier.AltLeft] OnHotkeyPressed="() => ExportSelectedTransaction()" Disabled="@_isProcessing" />
<MudBlazor.MudHotkey Key=JsKey.KeyE KeyModifiers=[JsKeyModifier.AltLeft] OnHotkeyPressed="() => ExportSelectedTransaction(true)" Disabled="@_isProcessing" />
<MudBlazor.MudHotkey Key=JsKey.Delete OnHotkeyPressed="DeleteRecoverSelectedTransaction" Disabled="@_isProcessing" />

@if (_isLoading || _user is null)
{
	<LoadingScreen />
}
else
{
	<div class="page-shell">
		<Header Title="Order Item Report">
			<LeftContent>
				<MudBlazor.MudMenu Label="File" Dense="true" Disabled="_isProcessing">
					<MudBlazor.MudMenuItem Label="New Transaction (Ctrl + N)" OnClick="() => AuthenticationService.NavigateToRoute(StoreRouteNames.Order, FormFactor, JSRuntime, NavigationManager)" />
					<MudBlazor.MudMenuItem Label="Refresh Data (Ctrl + R / F5)" OnClick="LoadTransactionOverviews" />
					<MudBlazor.MudMenuItem Label="@(_showDeleted ? "Hide Deleted (Ctrl + Delete)" : "Show Deleted (Ctrl + Delete)")" OnClick="ToggleDeleted" />
					<MudBlazor.MudMenuItem Label="@(_showSummary ? "Hide Summary (Ctrl + W)" : "Show Summary (Ctrl + W)")" OnClick="ToggleSummary" />
					<MudBlazor.MudMenuItem Label="@(_showAllColumns ? "Hide Details (Ctrl + Q)" : "Show Details (Ctrl + Q)")" OnClick="ToggleDetailsView" />
					<MudBlazor.MudDivider />
					<MudBlazor.MudMenuItem Label="Export PDF (Ctrl + P)" OnClick="() => ExportReport()" />
					<MudBlazor.MudMenuItem Label="Export Excel (Ctrl + E)" OnClick="() => ExportReport(true)" />
				</MudBlazor.MudMenu>

				<MudBlazor.MudMenu Label="Open" Dense="true" Disabled="_isProcessing">
					<MudBlazor.MudMenuItem Label="Order (Ctrl + N)" OnClick="() => AuthenticationService.NavigateToRoute(StoreRouteNames.Order, FormFactor, JSRuntime, NavigationManager)" />
					<MudBlazor.MudMenuItem Label="Order Report (Ctrl + I)" OnClick="() => AuthenticationService.NavigateToRoute(StoreRouteNames.OrderReport, FormFactor, JSRuntime, NavigationManager)" />
					<MudBlazor.MudMenuItem Label="Order Item Report" OnClick="() => AuthenticationService.NavigateToRoute(StoreRouteNames.OrderItemReport, FormFactor, JSRuntime, NavigationManager)" />
				</MudBlazor.MudMenu>

				<MudBlazor.MudMenu Label="Periods" Dense="true" Disabled="_isProcessing">
					<MudBlazor.MudMenuItem Label="Today" OnClick="() => HandleDatesChanged(DateRangeType.Today)" />
					<MudBlazor.MudMenuItem Label="Previous Day" OnClick="() => HandleDatesChanged(DateRangeType.Yesterday)" />
					<MudBlazor.MudMenuItem Label="Next Day" OnClick="() => HandleDatesChanged(DateRangeType.NextDay)" />
					<MudBlazor.MudMenuItem Label="Current Month" OnClick="() => HandleDatesChanged(DateRangeType.CurrentMonth)" />
					<MudBlazor.MudMenuItem Label="Previous Month" OnClick="() => HandleDatesChanged(DateRangeType.PreviousMonth)" />
					<MudBlazor.MudMenuItem Label="Next Month" OnClick="() => HandleDatesChanged(DateRangeType.NextMonth)" />
					<MudBlazor.MudMenuItem Label="Current FY" OnClick="() => HandleDatesChanged(DateRangeType.CurrentFinancialYear)" />
					<MudBlazor.MudMenuItem Label="Previous FY" OnClick="() => HandleDatesChanged(DateRangeType.PreviousFinancialYear)" />
					<MudBlazor.MudMenuItem Label="Next FY" OnClick="() => HandleDatesChanged(DateRangeType.NextFinancialYear)" />
					<MudBlazor.MudMenuItem Label="All Time" OnClick="() => HandleDatesChanged(DateRangeType.AllTime)" />
				</MudBlazor.MudMenu>

				<MudBlazor.MudMenu Label="Transaction" Dense="true" Disabled="_isProcessing || _showSummary">
					<MudBlazor.MudMenuItem Label="View (Alt + O)" OnClick="ViewSelectedTransaction" />
					<MudBlazor.MudMenuItem Label="View Sale (Alt + S)" OnClick="ViewSelectedSaleTransaction" />
					<MudBlazor.MudMenuItem Label="Export PDF (Alt + P)" OnClick="() => ExportSelectedTransaction()" />
					<MudBlazor.MudMenuItem Label="Export Excel (Alt + E)" OnClick="() => ExportSelectedTransaction(true)" />
					<MudBlazor.MudMenuItem Label="Export Sale PDF" OnClick="() => ExportSelectedSaleTransaction()" />
					<MudBlazor.MudMenuItem Label="Export Sale Excel" OnClick="() => ExportSelectedSaleTransaction(true)" />
					<MudBlazor.MudDivider />
					<MudBlazor.MudMenuItem Label="Delete / Recover (Del)" OnClick="DeleteRecoverSelectedTransaction" />
				</MudBlazor.MudMenu>
			</LeftContent>
		</Header>

		<div class="page-container">

			<div class="section-card">
				<div class="section-header">
					<h2 class="section-title">Filters</h2>
				</div>

				<div class="section-body">
					<div class="filters-grid">
						<!-- Date Range -->
						<div class="form-field">
							<CustomDateRangePicker @ref="_firstFocus" Value="@(new MudBlazor.DateRange(_fromDate, _toDate))"
												   ValueChanged="OnDateRangeChanged"
												   Label="Date Range (Ctrl + F)"
												   Required="false" />
						</div>

						<!-- Item -->
						<div class="form-field">
							<CustomAutoComplete T="ProductModel"
												Value="_selectedProduct"
												DataSource="@_products"
												Placeholder="All Items"
												Label="Item" Required="false"
												ValueChanged="OnProductChanged"
												FieldValue="@nameof(ProductModel.Name)"
												AddNewRoute="@StoreRouteNames.Product" />
						</div>

						<!-- Item Category -->
						<div class="form-field">
							<CustomAutoComplete T="ProductCategoryModel"
												Value="_selectedProductCategory"
												DataSource="@_productCategories"
												Placeholder="All Categories"
												Label="Category" Required="false"
												ValueChanged="OnProductCategoryChanged"
												FieldValue="@nameof(ProductCategoryModel.Name)"
												AddNewRoute="@StoreRouteNames.ProductCategory" />
						</div>

						@if (_user.LocationId == 1)
						{
							<!-- Company -->
							<div class="form-field">
								<CustomAutoComplete T="CompanyModel"
													Value="_selectedCompany"
													DataSource="@_companies"
													Placeholder="All Companies"
													Label="Company" Required="false"
													ValueChanged="OnCompanyChanged"
													FieldValue="@nameof(CompanyModel.Name)"
													AddNewRoute="@AccountsRouteNames.CompanyMaster" />
							</div>

							<!-- Location -->
							<div class="form-field">
								<CustomAutoComplete T="LocationModel"
													Value="_selectedLocation"
													DataSource="@_locations"
													Placeholder="All Locations"
													Label="Location" Required="false"
													ValueChanged="OnLocationChanged"
													FieldValue="@nameof(LocationModel.Name)"
													AddNewRoute="@OperationRouteNames.Location" />
							</div>
						}

						<!-- Completed -->
						<div class="form-field">
							<CustomAutoComplete T="YesNoFilterOption"
												Value="_selectedCompleted"
												DataSource="@YesNoFilterOptions.YesNo"
												Placeholder="All"
												Label="Completed" Required="false"
												ValueChanged="OnCompletedChanged"
												FieldValue="@nameof(YesNoFilterOption.Name)" />
						</div>

						@if (_user.LocationId == 1)
						{
							<!-- Pending Location -->
							<div class="form-field">
								<CustomAutoComplete T="LocationModel"
													DataSource="@_pendingLocations"
													Placeholder="Pending Locations"
													MaxItems="_pendingLocations.Count()"
													Label="Pending Location" Required="false"
													FieldValue="@nameof(LocationModel.Name)"
													AddNewRoute="@OperationRouteNames.Location" />
							</div>
						}
					</div>
				</div>
			</div>

			<div class="section-card">
				<div class="section-header">
					<h2 class="section-title">Records</h2>
				</div>

				<SfGrid @ref="_sfGrid" TValue="OrderItemOverviewModel" DataSource="_transactionOverviews"
						AllowTextWrap="true" AllowPaging="true" AllowSorting="true" AllowResizing="true"
						AllowFiltering="true" AllowReordering="true" AllowGrouping="true" ShowColumnChooser="true"
						GridLines="GridLine.Horizontal" ContextMenuItems="@_gridContextMenuItems"
						Toolbar="@(new List<string>() { "ColumnChooser", "Search" })">

					<GridEvents TValue="OrderItemOverviewModel" ContextMenuItemClicked="OnGridContextMenuItemClicked" />
					<GridPageSettings PageSize="20" PageSizes="@(new string[] { "20", "50", "100", "200", "All" })" />
					<GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Excel" />

					<GridAggregates>
						<GridAggregate>
							<GridAggregateColumns>
								<GridColumnAggregate Field="@nameof(OrderItemOverviewModel.ItemName)" Type="AggregateType.Count" Format="N0" />
								<GridColumnAggregate Field="@nameof(OrderItemOverviewModel.Quantity)" CustomColor="grid-total" />
							</GridAggregateColumns>
						</GridAggregate>
					</GridAggregates>

					<GridColumns>
						<CustomGridColumn Field="@nameof(OrderItemOverviewModel.ItemName)" HeaderText="Item" />
						<CustomGridColumn Field="@nameof(OrderItemOverviewModel.ItemCode)" HeaderText="Code" Visible="@(!_showSummary)" />
						<CustomGridColumn Field="@nameof(OrderItemOverviewModel.ItemCategoryName)" HeaderText="Category" Visible="@(_selectedProductCategory is null || _selectedProductCategory.Id <= 0)" />
						
						<CustomGridColumn Field="@nameof(OrderItemOverviewModel.ItemRemarks)" HeaderText="Item Remarks" Visible="@(_showAllColumns && !_showSummary)" />

						<CustomGridColumn Field="@nameof(OrderItemOverviewModel.TransactionNo)" HeaderText="Transaction No" Visible="@(!_showSummary)" />
						<CustomGridColumn Field="@nameof(OrderItemOverviewModel.SaleTransactionNo)" HeaderText="Sale No" Visible="@(!_showSummary)" />
						<CustomGridColumn Field="@nameof(OrderItemOverviewModel.TransactionDateTime)" HeaderText="Date" Format="dd/MM/yy hh:mm tt" Type="ColumnType.DateTime" Visible="@(!_showSummary)" />
						<CustomGridColumn Field="@nameof(OrderItemOverviewModel.SaleDateTime)" HeaderText="Sale Date" Format="dd/MM/yy hh:mm tt" Type="ColumnType.DateTime" Visible="@(_showAllColumns && !_showSummary)" />
						<CustomGridColumn Field="@nameof(OrderItemOverviewModel.LocationName)" HeaderText="Location" Visible="@(!_showSummary && (_selectedLocation is null || _selectedLocation.Id <= 0))" />
						<CustomGridColumn Field="@nameof(OrderItemOverviewModel.CompanyName)" HeaderText="Company" Visible="@(_showAllColumns && !_showSummary && (_selectedCompany is null || _selectedCompany.Id <= 0))" />
						<CustomGridColumn Field="@nameof(OrderItemOverviewModel.FinancialYear)" HeaderText="Financial Year" Visible="@(_showAllColumns && !_showSummary)" />

						<CustomGridColumn Field="@nameof(OrderItemOverviewModel.Quantity)" HeaderText="Quantity" TotalColumn="true" />
						<CustomGridColumn Field="@nameof(OrderItemOverviewModel.TotalItems)" HeaderText="Order Items" NumericColumn="true" />
						<CustomGridColumn Field="@nameof(OrderItemOverviewModel.TotalQuantity)" HeaderText="Order Qty" NumericColumn="true" />

						<CustomGridColumn Field="@nameof(OrderItemOverviewModel.Remarks)" HeaderText="Order Remarks" Visible="@(_showAllColumns && !_showSummary)" />
						<CustomGridColumn Field="@nameof(OrderItemOverviewModel.CreatedByName)" HeaderText="Created By" Visible="@(_showAllColumns && !_showSummary)" />
						<CustomGridColumn Field="@nameof(OrderItemOverviewModel.CreatedAt)" HeaderText="Created At" Format="dd/MM/yy hh:mm tt" Type="ColumnType.DateTime" Visible="@(_showAllColumns && !_showSummary)" />
						<CustomGridColumn Field="@nameof(OrderItemOverviewModel.CreatedFromPlatform)" HeaderText="Created Platform" Visible="@(_showAllColumns && !_showSummary)" />
						<CustomGridColumn Field="@nameof(OrderItemOverviewModel.LastModifiedByUserName)" HeaderText="Modified By" Visible="@(_showAllColumns && !_showSummary)" />
						<CustomGridColumn Field="@nameof(OrderItemOverviewModel.LastModifiedAt)" HeaderText="Modified At" Format="dd/MM/yy hh:mm tt" Type="ColumnType.DateTime" Visible="@(_showAllColumns && !_showSummary)" />
						<CustomGridColumn Field="@nameof(OrderItemOverviewModel.LastModifiedFromPlatform)" HeaderText="Modified Platform" Visible="@(_showAllColumns && !_showSummary)" />
						<CustomGridColumn Field="@nameof(OrderItemOverviewModel.MasterStatus)" Visible="@(_showDeleted && !_showSummary)" StatusColumn="true" />
					</GridColumns>
				</SfGrid>
			</div>
		</div>

		<Footer />
	</div>
}

<ConfirmationDialog @ref="_confirmationDialog" Title="@_confirmTitle" Message="@_confirmMessage"
					OnConfirm="OnConfirmed" OnCancel="OnCancelled" />

<ToastNotification @ref="_toastNotification" />

<CloseGuard Block="_isProcessing" />
