<GridAggregateColumn Field="@Field" Type="@Type" Format="@Format">
	<FooterTemplate>
		@{
			var aggregate = (context as AggregateTemplateContext);
			@if (Type == AggregateType.Sum)
			{
				<div>
					@if (CustomColor is not null)
					{
						<strong class="@CustomColor">@aggregate.Sum</strong>
					}
					else
					{
						<strong class="@(Convert.ToDecimal(aggregate.Sum) < 0 ? "grid-debit" : Convert.ToDecimal(aggregate.Sum) > 0 ? "grid-credit" : "")">@aggregate.Sum</strong>
					}
				</div>
			}
			else if (Type == AggregateType.Count)
			{
				<div>
					@if (CustomColor is not null)
					{
						<strong class="@CustomColor">Total Items: @aggregate.Count</strong>
					}
					else
					{
						<strong>Total Items: @aggregate.Count</strong>
					}
				</div>
			}
		}
	</FooterTemplate>
	<GroupFooterTemplate>
		@{
			var aggregate = (context as AggregateTemplateContext);
			@if (Type == AggregateType.Sum)
			{
				<div>
					@if (CustomColor is not null)
					{
						<strong class="@CustomColor">@aggregate.Sum</strong>
					}
					else
					{
						<strong class="@(Convert.ToDecimal(aggregate.Sum) < 0 ? "grid-debit" : Convert.ToDecimal(aggregate.Sum) > 0 ? "grid-credit" : "")">@aggregate.Sum</strong>
					}
				</div>
			}
			else if (Type == AggregateType.Count)
			{
				<div>
					@if (CustomColor is not null)
					{
						<strong class="@CustomColor">Total Items: @aggregate.Count</strong>
					}
					else
					{
						<strong>Total Items: @aggregate.Count</strong>
					}
				</div>
			}
		}
	</GroupFooterTemplate>
	<GroupCaptionTemplate>
		@{
			var aggregate = (context as AggregateTemplateContext);
			@if (Type == AggregateType.Sum)
			{
				<div>
					@if (CustomColor is not null)
					{
						<strong class="@CustomColor">@aggregate.Sum</strong>
					}
					else
					{
						<strong class="@(Convert.ToDecimal(aggregate.Sum) < 0 ? "grid-debit" : Convert.ToDecimal(aggregate.Sum) > 0 ? "grid-credit" : "")">@aggregate.Sum</strong>
					}
				</div>
			}
			else if (Type == AggregateType.Count)
			{
				<div>
					@if (CustomColor is not null)
					{
						<strong class="@CustomColor">Total Items: @aggregate.Count</strong>
					}
					else
					{
						<strong>Total Items: @aggregate.Count</strong>
					}
				</div>
			}
		}
	</GroupCaptionTemplate>
</GridAggregateColumn>